# //npm.pkg.github.com/:_authToken=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
# @khanhnguyenvan:registry="https://npm.pkg.github.com"

//npm.pkg.github.com/:_authToken=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
@3si-khanhnv:registry="https://npm.pkg.github.com"